<div class="content">
  <ion-button class="back-button ios-top-margin" (click)="back()">
    <ion-icon name="{{icons.backIcon()}}"></ion-icon>
  </ion-button>
  <div class="forgot-padding" [ngStyle]="{'pointer-events': isActive? 'all' : 'none'}">
    <form [formGroup]="forgotForm" class="loginForm" autocomplete="off">
      <h1 class="page-title">{{'forgotPassword' | translate}}</h1>
      <div class="control-style">
        <label class="control-title">{{'email' | translate}}</label>
        <input class="control-input" type="text" formControlName="email" placeholder="ex. e-mail@zibox.io">
      </div>
      <button class="submit-button ion-activatable" (click)="sendEmail()"
        [disabled]="isForgotLoading || !forgotForm.valid || !isActive">
        {{'send' | translate}}
        <div class="button-loading" *ngIf="isForgotLoading">
          <svg viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
          </svg>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </form>
  </div>
  <div class="change-padding" [class.show-change]="!isActive" [class.change-rtl]="otherService.direction == 'rtl'">
    <form [formGroup]="resetForm" class="loginForm" autocomplete="off">
      <h1 class="page-title">{{'changePassword' | translate}}</h1>
      <div class="control-style">
        <label class="control-title">{{'securityCode' | translate}}</label>
        <input class="control-input input-code" type="text" formControlName="token" placeholder="xxxxxx" minlength="6"
          maxlength="6">
      </div>
      <div class="control-style">
        <label class="control-title">{{'newPassword' | translate}}</label>
        <input class="control-input" id="newPassword" type="password" formControlName="password" placeholder="ex. P@$$w0rD">
        <button class="control-password ion-activatable" (click)="newPasswordToggle()">
          <img src="./assets/sign/password-{{showNewPassword == true? 'show' : 'hide'}}.svg" >
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <button class="submit-button ion-activatable" (click)="changePassword()"
        [disabled]="isResetLoading || !resetForm.valid">
        {{'changePassword' | translate}}
        <div class="button-loading" *ngIf="isResetLoading">
          <svg viewBox="0 0 50 50">
            <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
          </svg>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </form>
  </div>
</div>