<div class="card-panel">
  <div class="img-panel">
    <ion-thumbnail slot="start" class="card-image">
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
  </div>
  <ion-skeleton-text class="card-title" [animated]="true" style="width: 60%;"></ion-skeleton-text>
  <div class="price-panel">
    <p class="card-price">
      <ion-skeleton-text [animated]="true" style="width: 1500%;height: 10px;inset: 0 -700%;border-radius: 5px;">
      </ion-skeleton-text>
    </p>
  </div>
</div>