ion-toolbar.home-toolbar {
  --min-height: 46px;
  --padding-top: 0px;
  --padding-bottom: 5px;
  --border-width: 0;
  --background: #f5f5f5;
}

.home-toolbar-panel {
  position: relative;
  display: grid;
  grid-template-columns: min-content auto min-content min-content min-content;
  width: 100%;
  gap: 5px;
  padding: 5px;
}

.home-toolbar-button {
  position: relative;
  display: block;
  height: 100%;
  width: 35px;
  margin: 0;
  padding: 0;
  color: #000;
  border-radius: 3px;
  border-color: transparent;
  border-style: solid;
  border-width: 0;
  background: transparent;
  overflow: hidden;
}

.home-toolbar-button ion-icon {
  font-size: 18px;
}

.search-input {
  position: relative;
  display: block;
  overflow: hidden;
}

.search-icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  margin: auto 0;
}

.search-icon * {
  stroke: #000;
}

.search {
  position: relative;
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 10px;
  padding-inline-start: 40px;
  color: #000;
  outline: none;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.search-loading {
  position: absolute;
  width: 45px;
  top: 0;
  left: calc(100% - 45px);
  right: calc(100% - 45px);
  bottom: 0;
  background: transparent;
}

.search-loading svg {
  width: 20px;
  height: 20px;
}

.search-loading svg * {
  stroke: var(--ion-color-primary);
}

.search-padding {
  --background: #fff;
}

// Search Result
.search-result-panel {
  position: relative;
  padding: 10px;
}

.search-result-panel label {
  padding-bottom: 5px;
  font-size: 12px;
  color: #999;
}

.search-result-item {
  position: relative;
  display: flex;
  place-content: space-between;
  color: #000;
  padding: 10px 5px;
  border-bottom: 1px solid #eee;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-item ion-icon {
  flex: 0 0 24px;
  opacity: 0.5;
}

.recent-item {
  position: relative;
  display: flex;
  place-items: center;
  place-content: center;
  color: #000;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.recent-item button {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  width: 30px;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  background-color: transparent;
  overflow: hidden;
}

.recent-item-text {
  position: relative;
  display: flex;
  place-items: center;
  width: calc(100% - 30px);
  padding: 10px 0;
  overflow: hidden;
}

.recent-item-text ion-icon {
  flex: 0 0 30px;
  font-size: 18px;
  opacity: 0.5;
}

// Search Not Found
.search-result-not-found {
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  height: 100vh;
}

// Voice
.voice-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  color: #000;
  background-color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.show-voice {
  opacity: 1;
  pointer-events: all;
}

.voice-result-panel {
  position: absolute;
  display: grid;
  grid-template-rows: auto 80px 20px;
  place-items: center;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  max-height: 250px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  border-radius: 10px;
  color: #000;
  background-color: #fff;
  overflow: hidden;
}

.close-voice-panel {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  right: 5px;
  padding: 3px 0;
  font-size: 18px;
  border-radius: 5px;
  color: #000;
  background-color: transparent;
  overflow: hidden;
}

.close-voice-panel:hover {
  background-color: #f4f4f4;
}

.voice-result-panel img {
  height: 50px;
}

.voice-search {
  position: relative;
  display: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #99cc00;
}

/* #endregion Search*/