<!-- Custom Toolbar -->
<ion-toolbar class="custom-toolbar">
  <div class="custom-toolbar-panel">
    <ion-button class="custom-toolbar-button white-toolbar-button" (click)="close()">
      <ion-icon name="{{icons.backIcon()}}"></ion-icon>
    </ion-button>
    <p class="custom-toolbar-title">{{title | translate}}</p>
  </div>
</ion-toolbar>
<ion-content class="show-information-padding">
  <div class="document-loading" *ngIf="html === null">
    <svg viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
  </div>
  <div [innerHTML]="html"></div>
</ion-content>
