<!-- Title bar -->
<ion-toolbar class="discount-toolbar">
  <div class="discount-toolbar-panel">
    <button class="discount-toolbar-button ion-activatable" title="Sell on ZiBox" routerLink="../">
      <ion-icon name="{{icons.backIcon()}}"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
    <div class="discount-toolbar-title">{{'platforms.discounts' | translate}}</div>
  </div>
</ion-toolbar>
<ion-content class="discount-padding">
  <!-- Section Categories -->
  <div class="section-panel">
    <div class="section-header">
      <p class="section-title">{{'categories' | translate}}</p>
    </div>
    <div class="section-categories" *ngIf="categories.length > 0">
      <div class="section-category-item" *ngFor="let item of categories" (click)="openCategory(item)">
        <div class="section-category-image">
          <img src="{{item.icon || item.icon_square}}" alt="">
        </div>
        <label class="section-category-title">{{item.name}}</label>
      </div>
    </div>
    <div class="section-categories" *ngIf="categories.length < 1">
      <div class="section-category-item" *ngFor="let item of [].constructor(4)">
        <ion-skeleton-text class="section-category-image" [animated]="true" style="width: 100%;"></ion-skeleton-text>
        <ion-skeleton-text class="section-category-title" [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </div>
    </div>
  </div>
  <hr class="gray-line" *ngIf="categories.length > 0">
  <!-- Discount Category By Market -->
  <div class="section-panel" *ngIf="discountByName.length < 1 && discountByNameLoading">
    <div class="section-header">
      <p class="section-title">
        <ion-skeleton-text class="card-title" [animated]="true" style="width: 60%;"></ion-skeleton-text>
      </p>
    </div>
    <ion-slides [options]="discountSlidesOption">
      <ion-slide *ngFor="let item of [].constructor(5)">
        <zi-card-skeleton></zi-card-skeleton>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="discountByName.length > 0">
    <div class="section-panel" *ngFor="let provider of discountByName">
      <div class="section-header ion-activatable" routerLink="{{provider.id}}">
        <p class="section-title">{{provider.name}}</p>
        <button class="section-more">
          {{'seeMore' | translate}}
          <ion-icon name="{{icons.detailIcon()}}" class="detail" slot="end"></ion-icon>
        </button>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <ion-slides [options]="discountSlidesOption">
        <ion-slide *ngFor="let item of provider.products">
          <zi-card [item]="item"></zi-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <!-- All Discount Products -->
  <div class="section-panel" id="productPanel">
    <div class="section-header">
      <p class="section-title">{{'allDiscounts' | translate}}</p>
      <select class="section-sort" #so (change)="filter(so.value)">
        <option value="newly_arrived">{{'newlyArrived' | translate}}</option>
        <option value="low_to_high">{{'lowToHigh' | translate}}</option>
        <option value="high_to_low">{{'highToLow' | translate}}</option>
      </select>
    </div>
    <div class="product-container" *ngIf="items.length > 0">
      <zi-card *ngFor="let item of items" [item]="item"></zi-card>
    </div>
    <div class="product-container" *ngIf="items.length < 1">
      <zi-card-skeleton *ngFor="let item of [0,1,2,3,4,5,6,7,8]"></zi-card-skeleton>
    </div>
    <!-- Infinity Scrolling -->
    <ion-infinite-scroll class="scroll-loading" loadingSpinner="bubbles" (ionInfinite)="onIonInfinite($event)"
      *ngIf="items.length > 0">
      <ion-infinite-scroll-content *ngIf="pageNumber <= pageCount">
        {{'pleaseWait' | translate}}
      </ion-infinite-scroll-content>
      <button class="back-to-top" *ngIf="pageNumber > pageCount && items.length > 10" (click)="backToTop()">
        {{'backToTop' | translate}}
        <ion-icon name="arrow-up-outline"></ion-icon>
      </button>
    </ion-infinite-scroll>
  </div>
  <!-- Pull Down to Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>