.legal-information-padding {
  --padding-top: 15px;
  --padding-bottom: 15px;
  --color: #000;
  --background: #fff;
}

ion-list,
ion-item {
  --color: #000;
  --background: #fff;
  background: #fff;
  --border-color: #ddd;
}

ion-item ion-icon{
  color: #888;
}