.ion-padding {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 60px;
  --color: #000;
  --background: #f5f5f5;
}

.empty-items img {
  width: 100px;
  height: 100px;
}

.product-section-panel{
  padding: 10px 5px;
}