<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691527637295-dnvkvjaotgjc3e0l2i96o7g19nc62taf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691527637295-dnvkvjaotgjc3e0l2i96o7g19nc62taf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691527637295-6q682fk1t4c637r3ofe8ntosflk4ulvm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEkrB6ZYJE409ItdmXqmWlk3-mAtob0I4</string>
	<key>GCM_SENDER_ID</key>
	<string>691527637295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionicframework.zitrade271041</string>
	<key>PROJECT_ID</key>
	<string>zibox-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>zibox-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691527637295:ios:a61cc5e90df1da63</string>
	<key>DATABASE_URL</key>
	<string>https://zibox-prod.firebaseio.com</string>
	<key>GADIsAdManagerApp</key>
  <true/>
  <key>GADApplicationIdentifier</key>
  <string>ca-app-pub-6196533297569872~4850773095</string>
</dict>
</plist>
